/*****************************************************/
/*                      HEADER                       */
/*****************************************************/

*,
*:before,
*:after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    
    scroll-behavior: smooth;
}

.site {

    display: grid;
    grid-template-rows: 60px auto auto;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "header"
        "body"
        "body2";
}


nav {

    grid-row-start: header;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/* BARRE DE SCROLL */

::-webkit-scrollbar {

    width: 5px;
    background-color: #121212;
}

::-webkit-scrollbar-thumb {

    background-color: #D9B01A;
}
 

.header_barre_nav {

    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
    font-size: 20pt;
    list-style-type: none;
}


.header_barre_nav a {

    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    padding: 0 20px;
}


.header_barre_nav a:after {

    content: "";
    position: absolute;
    background-color: #D9B01A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.header_barre_nav a:hover {

    color: #FFF;
}


.header_barre_nav a:hover:after {

    width: 100%;
}

